.nav{
  display: flex;
}

.logo{
  width:200px;
  /* border: 2px solid red; */
  height:150px
}
.bag{
  /* border:2px solid red; */
  height:150px
}
.bag img{
  width:400px
}

.empty-tag{
  text-align: center;
  margin-top: 60px;
}

#shop{

  display: inline-block;
  text-transform: uppercase;
  color: #fff!important;
  font-size: 14px;
  font-family: SourceSansPro;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  background-color: #d5a249;
  padding: 0 20px;
  border-color: #d5a249;
}


.shop-btn{
  text-align: center;
  margin-top: 50px;
}

.option{
  /* border:2px solid black; */
  display: flex;
  justify-content:space-around;
  margin-top: 50px;
}

.option img{
  width:50%
}

.images img{
  width:80%
}

.images{
  display: flex;
  justify-content: center;

  margin-top: 50px;
}

#cont{
display: flex;
}

#product-cont{
width:80%
}

.order-total{
border:2px solid red;
background-color: #fafafa;
}

.order-total h5{
margin-bottom: 20px;
}


#total{
margin-left: 100px;
}

.proceed{
background-color: hsl(38, 100%, 74%);
  padding: 0 20px;
  display: inline-block;
  text-transform: uppercase;
  color: #fff!important;
  font-size: 14px;
  font-family: SourceSansPro;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  border-color: #d5a249;
  margin-top: 20px;
}

/* <!-----------------------------------------------HEARDER END  ########################################## --> */


*{
  margin: 0px;
  padding: 0px;
}
/* --------------------All image hower effect --------------- */
img {
  /* width: 100%; */
  -webkit-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
img:hover{
/* z-index: -5; */
  transform: scale(1.03);
}
/* ---------------------------navbar css -------------------*/
/* --------------------All image hower effect ends --------------- */
header{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  margin-bottom: 2px;
  height: 110px;
  z-index: 5px;
}
.logo{
  margin: auto;
  margin-left: 60px;
  margin-top: 20px;
}
.container-nav{
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  width: 90%;
  margin: auto;
  
}
#nav-bar{
margin-top: 20px;
display: flex;
}
nav>ul{
  display: flex;
}
nav>ul>li{
  margin: auto;
  margin-right: 30px;
  list-style: none;
}
nav>ul>li>a{
  display: flex;
  text-decoration: none;
  color: black;
}

.none{
  padding-bottom: 30px;
}
.megamenu{
  /* border: 2px solid red; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top:84%;
  width: 100%;
  opacity: 0px;
  visibility: hidden;
  display: flex;
  /* transition: 2s; */
  height: 520px;
  left: 0px;
  background-color: #FFFFFF;
}
nav>ul>li:hover .megamenu{
  opacity: 1;
  visibility: visible;
  
}
.megamenuitems>ul>li{
  padding-left: 10px;
  list-style: none;
}
.megamenuitems>ul>li>a{
  color: black;
  font-size: 14px;
  text-decoration: none;
  
}
.megamenuitems>ul>li{
  text-decoration: none;
}
.logo{
  width: 150px;
}

.megamenuitems h4 > a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* color: red; */
  font-size: 15px;
  /* margin-top: 0px; */
}
#nav-end{
  /* border: 2px solid; */
  display: flex;
  justify-content: end;
}
#nav-end > a{
  
    font-size: 13px;
    justify-content: center;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 10px;
    color: #2C4152;
    margin-right: 20px;
  }
  #nav-end :nth-child(3){
      font-size: 15px;
      color: white;
      margin-top: 0px;
      padding-top: 10px;
      padding-bottom:10px;
      padding-left: 5px;
      padding-right: 5px;
      background-color: black;     
  }
/* -----------------nav-end-------------- */

/* ----------------------MEAGA MENU CSS ---------------------- */
.megamenu  h4{
  font-family: Roboto;
  margin-top: 20px;
  padding-left: 10px;
  font-size: 20px;
}
.megamenu  h4>a{
  color: black;
  text-decoration: none;
}
.megamenuitems{
  margin: auto;
  /* border: 2px solid; */
  margin-top: 0px;
}
.btn-pink{
  font-size: 10px;
  background-color: #F06292;
  color: white;
  border-radius: 3px;
  border: none;
}
.btn-ylw{
  font-size: 10px;
  background-color: goldenrod;
  color: white;
  border-radius: 3px;
  border: none;
}
.btn-blw{

  font-size: 10px;
  background-color: skyblue;
  color: white;
  border-radius: 3px;
  border: none;
}
/* ----------------------MEAGA MENU CSS END---------------------- */

/* ----------------search------------------ */
#search-container{
  border: 1px solid black;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  margin-top: 0px;
  border-radius: 20px;
  background-color: #FFFDED ;
  margin-right: 10px;

}
.search-tab img{
  width: 20px;
}
.search-tab button{
  border: none;
  width: 10px;
  background-color: #FFFDED ;
}
.search-tab input{
  background-color: #FFFDED ;
  border: 0px;
  outline: none; 
}
.search-tab > img{
margin-left: 10px;
}
/* ---------------------------search end---------------------------------- */
/* --------------------------------------------Add to bag-------------------------- */
.add-to-bag{
display: flex;
}
.add-to-bag >img{
width: 50%;
margin: auto;
padding-bottom: 30px;
}
.add-to-bag div{
/* border: 1px solid; */
margin-left:10px ;
}
.add-to-bag :nth-child(2)>img{
width: 35px;
}
/* --------------------------------------------Add to bag-------------------------- */


/* ------------------------footer----------------------- */
footer {
  background-color: #2C4152;
  position: relative;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 50px;
}
.footer {
  display: flex;
  color: #CCCCCC;
  padding: 60px ;
  margin-bottom: 50px;
  width: 80%;
  margin: auto;
}

.ajio-list {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.list {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 16px;
  margin-bottom: 20px;
}

.list > a {
  /* text-decoration: none; */
  color: #bfc8cb;
  margin-bottom: 8px;
  font-size: 12px;
  
}
.list>a:hover{
  text-decoration: underline;
  color: #CCCCCC
}
#line{
     width:75%;
     margin: auto;
      background-color: #CCCCCC;
      margin-bottom: 50px;
     height: 1px;
}
#line + div > a{
    text-decoration: none;
    display: flex;
    color: #bfc8cb;
    margin-left: 180px;
}
#line + div > a:nth-child(2){
    color: #bfc8cb;
    margin-right: 180px;
    justify-content: flex-end;
}
.last{
    margin-left: 180px;
    display: flex;
    width: 50%;
    margin-top: 20px;
    color:#bfc8cb;
}
.last img{
    display: flex;
    width: 50%;

}
/* ------------------------footer  ends----------------------- */


#product-cont > div img{
  width:80%;
  margin-bottom: 10px;
}




#order-total{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 5px;
  /* text-align: center; */
}

*{
  box-sizing: border-box;
}
.karan{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  border: 1px solid rgb(208, 205, 205);
}
.karan > div:first-child{
  width: 73%;
}

.karan > div:last-child{
  width:300px
}

.cont{
  margin-top: 40px;
}

#total{
  margin-left: 60%;
}

#removebtn{
  width:200px;
  text-transform: uppercase;
  color: #fff;
  background-color: #d4a048;
  font-family: SourceSansProSemiBold;
  font-size: 14px;

padding: 5px ;
  border:none;
  margin-top: 10px;
  display: block;
  margin-bottom: 10px;
}

#product-cont div{
  padding: 5px;
  border: 1px solid rgb(193, 189, 189);
}

#proceed{
  

  color: #fff;
  background-color: #d4a048;
  font-family: SourceSansProSemiBold;
  font-size: large;
  border:none;
  padding: 5px 10px;
  border-radius: 5px;
  display: block;
  margin: auto;
}


#order-total h5{
  margin-bottom: 40px;
  margin-left: 10px;
  margin-top: 10px;
}

#order-total p{
  margin-left: 10px;
}

#order-total button{
  margin-left: 10px;
}

#product-cont p{
  margin-top: 10px;
}

#product-cont h4{
  margin-top: 10px;
}

.incdec{
  margin-left: 10px;
}

.incbtn{
  color: #fff;
  background-color: #d4a048;
  font-family: SourceSansProSemiBold;
  font-size: 14px;
  /* box-shadow: 0 3px 6px 0 rgba(0,0,0,.16)!; */
  padding:3px 5px;
  border-color: #d4a048;
}

#product-cont{
  width:100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

#product-cont div{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width:80%;
}

#product-cont img{
  margin-left: 25px;
}

#product-cont button{
  margin-left: 10px;
}

#product-cont h4{
margin-left: 10px;
}

#product-cont p{
margin-left: 10px;
}

@media screen and (max-width:850px){
#product-order-cont{
 grid-template-columns: repeat(2,1fr);
 gap: 10px ,10px;
}

#order-total{
  box-shadow: none;
}

#product-cont{
  grid-template-columns: repeat(2,1fr);
}

#product-cont div{
  box-shadow: none;
}
}

