
body{
  font-family: 'Work Sans', sans-serif;
}
#photo{
  text-align: start;
  margin-bottom: 20px;
}
#photo>a{
text-decoration: none;
font-size: 14px;
color: #939393;
padding: 7px;

}
#photo>img{
  margin-bottom: 20px;
}
#photo>p{
  margin-bottom: 20px;
}
.m{
  margin-bottom: 100px;
}
.main{
  display: grid;
  grid-template-columns:504px 403px;
  gap: 50px;
  justify-content: center;
  text-align: center;
  width: 1200px;
  margin: auto;
}
#pricing h2{
  font-size: 14px;
}
#bar a{
 color:#afacac;
  text-decoration: none;
  margin: 10px;
  font-size: 11px;
}
#bar{
  width: 1200px;
  margin: auto;
}
p span{
  text-decoration: line-through;
}
#offer{
  display:grid;
  grid-template-columns: 70px 202px;
  font-size: 12px;
justify-content: center;
 
 text-align: center;
 border: 1px dashed #d8d8d8;
 margin: 10px;
 padding: 10px;
}
#offer>div{
  color: #b19975;
  border-right: 1px solid black;
  height: 45px;
  margin-top: 8px;
  padding: 10px;
}
#sizes>span{
font-size: 12px;
border: 1px solid black;
padding: 15px;
border-radius: 100%;
cursor: pointer;

}
#sizes{

margin: 20px 0px 40px 0px;
}
#location{
font-size: 12px;
margin-top: 10px;
background-color: #fdf8eb;
padding: 10px;
margin: 10px;
}
#bag{
background-color: #d5a249;
color: white;
width: 300px;
height: 40px;
border: 1px solid #d5a249;
font-size: 16px;
}
#wishlist{
background-color: white;
color: #d5a249;
width: 300px;
height: 40px;
border: 1px solid #d5a249;
font-size: 16px;
}
.dtl{
text-align: start;
}
.dtl>h3{
font-size: 14px;
color: #406786;
letter-spacing: .05em;
font-weight: 700;
margin-bottom: 10px;
margin-top: 40px;
}
.dtl li{
list-style-type: disc;
margin-left:17px;
margin-bottom: 5px;
}
.dtl ul>a:last-child{
margin-left: 17px;
margin-bottom: 5px;
}
#pricing{
width: 300px;
margin: auto;
}
.cont{
margin-top: 75px;

}
#lower>img{
width: 98.9%;
margin: auto;
padding-right: 20px;
border-bottom: 7px solid black;

}
#category{
  color: #b19975;
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 10px;
}
#name{
  font-size: 18px;
  color: #333;
  margin-top: 0;
  margin-bottom: 10px;
}
#price{
  font-size: 24px;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 10px;
}

#p{
  font-size: 12px;
  margin: 3px;
}
#of{
  font-size: 12px;
  color:#176d93 ;
  margin-bottom: 5px;
}
#sz{
  font-size: 14px;
  margin: 10px;
}
#bt p{
font-size: 12px;
color: #939393;
margin: 5px 0px 20px 0px;
}
#bag:hover{
border: 2px solid black;
}
#wishlist:hover{
border: 2px solid black;
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}
.hr-text:before {
    content: '';
    /* // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar */
    background: linear-gradient(to right, transparent, #000000, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    /* // this is really the only tricky part, you need to specify the background color of the container element... */
    color: #000000;
    background-color:#fcfcfa;
}
.more{
  display: grid;
  grid-template-columns:repeat(4,1fr);
 width: 1200px;
 justify-content: center;
 margin-top: 30px;
 gap: 10px;
 
}
.more>div img{
 width: 100%;
 height: fit-content;
 border-radius: 20px;
 transition: 1s ease;
}
.more>div img:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(0.9);
  transition: 1s ease;
}


*{
  margin: 0px;
  padding: 0px;
}
/* --------------------All image hower effect --------------- */
*{
  margin: 0px;
  padding: 0px;
}

@media all and (min-width: 750px) and (max-width: 2024px ) {
  .desktop-none{
      display: none;
    }
 }
 /*Mobile screen*/
@media all and (min-width: 100px) and (max-width: 450px) {
 
  .circle-image-grid{
    grid-template-columns: repeat(1,1fr);
    overflow: hidden
  }
  .images-148{
      grid-template-columns: repeat(1,1fr);
  }
  .display-none-small{
      display: none;
  }

  #three-images{
      grid-template-columns: repeat(1,1fr);
      overflow: hidden
  }
  
  .slider-1{
      display: none;
  }
  .slider-2{
      display: none;
  }
  #h{
      overflow: hidden
  }
} 

/* Medium screens */
@media all and (min-width: 451px) and (max-width: 750px) {
  .circle-image-grid{
      grid-template-columns: repeat(2,1fr);
      overflow: hidden
    }
    .images-148{
      grid-template-columns: repeat(2,1fr);
  }
  .display-none{
      display: none;
  }
  .display-none-medium{
      display: none;
  }
  #three-images{
      grid-template-columns: repeat(2,1fr);
      overflow: hidden
  }

  .desktop-none{
      display: none;
    }
    #h{
      overflow: hidden

  }
}
.logo-mob{
  display: none;
}

/* -------------------css for responsive navbar---------------- */
.mobile-nav-btn{
  display: none;
  background-color: transparent;
  cursor: pointer;
}
.mobile-nav-icon{
  width: 40px;
  height: 40px;
  color: #212529;
}
.mobile-nav-icon[name="close-outline"]{
  display: none;
}

@media all and (min-width: 100px) and (max-width: 450px) {
  


  
  /* ----------experiment----------------- */
  #nav-end{
      display: none;
  }
  #nav-bar ul li{
     display: none;
  }
/* .mobile-nav-btn{
       display: flex;
      z-index: 999;
      margin: auto;
  }  */
  #search-container{
      border: 1px solid black;
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 2px;
      padding-bottom: 2px;
      margin: auto;
      margin-top: 30px;
      /* margin-left: 30px; */
      background-color: #FFFDED ;
      margin-right: 10px;
      /* border-radius: 20px; */
       white-space: nowrap;
        text-overflow: ellipsis;
  }
  .add-to-bag{
      display: none;
  }
  .logo{
      display: none;
  }
  .logo-mob{
      width: 15%;
      margin: auto;
      display: block;
      /* z-index: 999; */
  }
  #search-button{
      display: none;
  }
  .mobile-nav-btn{
      display: block;
      z-index: 999;
      margin: auto;
      display: block;
  }
  .none-dis{
      display: none;
  }
  .last{
      display: none;
  }
  .list{
      display: none;
  }
  .ajio-list{
      display: flex;
      justify-content: center;
      flex-direction: row;
      /* border: 2px solid; */
  }
}

@media all and (min-width: 451px) and (max-width: 750px){
  
  #nav-end{
      display: none;
  }
  .logo-mob{
      display: none;
  }
  #nav-bar ul li{
     display: none;
  }
.mobile-nav-btn{
       display: flex;
      /* margin-left: 100px; */
      z-index: 999;
      margin: auto;

      /* border: 3px solid; */
  } 
  #search-container{
      border: 1px solid black;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: auto;
      margin-top: 30px;
      margin-left: 30px;
      background-color: #FFFDED ;
      margin-right: 10px;
      border-radius: 20px;
       white-space: nowrap;
        text-overflow: ellipsis;
  }
  .add-to-bag{
      display: none;
  }
  .logo{
      width: 20%;
  }
  .none-dis{
      display: none;
  }
 
}

/* --------------------All image hower effect ends --------------- */
header{
  padding-bottom: 110px;
   /* border: 2px solid; */
 }
 .logo{
   margin: auto;
   /* margin-left: 40px; */
 }
 .logo{
   width: 150px;
   /* border: 1px solid; */
   margin-left: 5%;
 }
 .container-nav{
   position: relative;
   position: fixed;
   background-color: white;
   display: flex;
   justify-content: space-between;
   z-index: 5;
   width: 100%;
   margin: auto;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   width: 100%;
   height: 100px;
   z-index: 9999px;
   padding-right: 5%;
   
 }
 #nav-bar{
   margin-top: 1.5%;
   display: flex;
   /* border: 2px solid red; */
 }
 nav>ul{
   display: flex;
 }
 /* ------------------------------------------------------- */
 nav>ul:nth-child(5){
   white-space: nowrap;
 }
 nav>ul>li{
   margin: auto;
   margin-right: 20px;
   list-style: none;
 }
 nav>ul>li>a{
   display: flex;
   text-decoration: none;
   color: black;
   /* text-align: center; */
   padding-bottom: 30px;
   padding-top: 10px;
 }
 
 .megamenu{
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   position: absolute;
   top:100%;
   width: 80%;
   margin-left: 10%;
   opacity: 0px;
   visibility: hidden;
   display: flex;
   height: 520px;
   left: 0px;
   background-color: #FFFFFF;
   /* border: 2px solid; */
 }
 nav>ul>li:hover .megamenu{
   opacity: 1;
   visibility: visible;
   
 }
 .megamenuitems>ul>li{
   padding-left: 10px;
   list-style: none;
 }
 .megamenuitems>ul>li>a{
   color: black;
   font-size: 14px;
   text-decoration: none;
   
 }
 .megamenuitems>ul>li{
   text-decoration: none;
 }
 
 /* larger screen */
 .megamenuitems h4 > a{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 15px;
 }

   
 /* -----------------nav-end-------------- */
 #nav-end{
   /* border: 2px solid; */
   display: flex;
   justify-content: end;
 }
 #nav-end > a{
   
   font-size: 13px;
   justify-content: center;
   text-decoration: none;
   margin-left: 10px;
   margin-top: 10px;
   color: #2C4152;
   margin-right: 20px;
 }
 #nav-end :nth-child(3){
   font-size: 12px;
   color: white;
   margin-top: 0px;
   padding-top: 10px;
   padding-bottom:10px;
   padding-left: 17px;
   padding-right: 17px;
   font-family: 'Poppins', sans-serif;;
   background-color: black;     
 }
 /* -----------------nav-end-------------- */
 .megamenu  h4{
   font-family: Roboto;
   margin-top: 20px;
   padding-left: 10px;
   font-size: 20px;
 }
 .megamenu  h4>a{
   color: black;
   text-decoration: none;
 }
.megamenuitems{
 margin: auto;
 /* border: 2px solid; */
 margin-top: 0px;
}
.btn-pink{
   font-size: 10px;
   background-color: #F06292;
   color: white;
   border-radius: 3px;
   border: none;
}
.btn-ylw{
 font-size: 10px;
 background-color: goldenrod;
 color: white;
 border-radius: 3px;
 border: none;
}
.btn-blw{
 font-size: 10px;
 background-color: skyblue;
 color: white;
 border-radius: 3px;
 border: none;
}
/* ----------------search------------------ */
#search-container{
 border: 1px solid black;
 padding-left: 40px;
 padding-right: 40px;
 padding-top: 5px;
 padding-bottom: 5px;
 margin: auto;
 margin-top: 0px;
 background-color: #FFFDED ;
 margin-right: 10px;
 border-radius: 20px;
  white-space: nowrap;
   text-overflow: ellipsis;
 /* border: 3px solid red;   */
}

.search-tab img{
 
   width: 25px;
}
/* FFFDED */
.search-tab button{
   border: none;
   width: 10px;
   background-color: #FFFDED ;
}
.search-tab input{
   background-color: #FFFDED ;
   border: 0px;
   outline: none; 
}
.search-tab > img{
 /* display: inline-block; */
margin-left: 10px;
/* border: 1px solid; */
}
/* ---------------------------search end---------------------------------- */
/* --------------------------------------------Add to bag-------------------------- */
.add-to-bag{
  display: flex;
  padding-right: 20px;
  margin-right: 1.5%;
}
.add-to-bag >img{
  width: 50%;
  margin: auto;
  padding-bottom: 30px;
}
.add-to-bag div{
  margin-left:10px ;
  width:35px
}
/* .add-to-bag :nth-child(2){
} */
/* --------------------------------------------Add to bag-------------------------- */

/* ------------------------footer----------------------- */
footer {
  background-color: #2C4152;
  position: relative;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 50px;
}
.footer {
  display: flex;
  /* flex-direction: row; */
  color: #CCCCCC;
  padding: 60px ;
  margin-bottom: 50px;
  width: 80%;
  margin: auto;
}

.ajio-list {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.list {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 16px;
  margin-bottom: 20px;
}

.list > a {
  
  /* text-decoration: none; */
  color: #bfc8cb;
  margin-bottom: 8px;
  font-size: 12px;
  
}
.list>a:hover{
  text-decoration: underline;
  color: #CCCCCC
}
#line{
     width:75%;
     margin: auto;
      background-color: #CCCCCC;
      margin-bottom: 50px;
     height: 1px;
}
#line + div > a{
    /* display: block; */
    text-decoration: none;
    display: flex;
    color: #bfc8cb;
    margin-left: 180px;
    
    /* justify-content: space-between; */
}
#line + div > a:nth-child(2){
    color: #bfc8cb;
    margin-right: 180px;
    justify-content: flex-end;
}
.last{
    margin-left: 180px;
    display: flex;
    /* justify-content: space-between; */
    /* gap: 40px; */
    width: 50%;
    margin-top: 20px;
    color:#bfc8cb;
}
.last img{
    display: flex;
    width: 50%;

}
#l{
  width: 1200px;
  margin: auto;
}
/* ------------------------footer  ends----------------------- */
/* ------------------------footer  ends----------------------- */
@media all and (min-width: 451px) and (max-width: 750px){
  .main{
 grid-template-columns:504px;
 width: 800px;
   
  }
  #photo>img{
    width: 300px;
  }
  #photo{
    text-align: center;
  }
  .more{
    display: grid;
    grid-template-columns:repeat(2,250px);
    width: 800px;
  }
  header{
    display: contents;
    justify-content: center;
  }
  #l{
    width: 800px;
    margin: auto;
  }
  
}
@media all and (min-width: 100px) and (max-width: 450px) {
  .main{
 grid-template-columns:300px;
 justify-content: center;
    text-align: center;
    width: 500px;
    margin: auto;
   
  }
  #l{
    width: 600px;
    margin: auto;
  }
  #photo{
    text-align: center;
  }
  .more{
    display: grid;
    grid-template-columns:repeat(2,200px);
    justify-content: start;
    text-align: center;
    width: 500px;
    margin: auto;
  }
 
  header{
    display: contents;
    justify-content: center;
  }
  #photo>img{
    width: 300px;
  }
}