.wish-cont{
    /* border:2px solid red */
}

.heading{
    /* border: 2px solid blue; */
    text-align: center;
}

.heading h1{
    margin-bottom: 20px;
    font-size: 32px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 20px;
}


.empty{
    /* border:2px solid green; */
    text-align: center;
}
.empty p{
    color: #585858;
    font-family: SourceSansProSemiBold;
    margin-bottom: 30px;
    font-size: 18px;
}

.tag-line{
    /* border:2px solid black; */
    text-align: center;
}

.tag-line p{
    margin-bottom: 20px;
    font-size: 14px;
    color:#585858
}

.btn{
    width:200px;
    margin:auto;
    /* border:2px solid yellow */
}

.btn button{
    background-color: #d5a249;
    padding: 0 20px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-family: SourceSansPro;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    border-color: #d5a249;;
}

.images{
    display: flex;
    /* border:2px solid teal; */
    justify-content: space-around;
    padding-top: 20px;
    background-color:#fafafa;;
}

.images img{
    width:50px;
    margin-left:22%;
}

.images div{
    /* border:2px solid pink; */
}

@media screen and (max-width:800px){
  .images img{
    display: none;
  }
  .images{
    display: none;
  }
}
